name: Primer Checkout

on:
    pull_request:
        branches: [main]
    push:
        branches: [main]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4.2.2  

            - name: Conocer versi贸n de Node
              run: node -v

            - name: Conocer versi贸n de npm
              run: npm -v

            - name: Actualizar Node
              uses: actions/setup-node@v4.3.0
              with:
                node-version: 22.11.0

            - name: Conocer versi贸n de Node
              run: node -v
  
            - name: Conocer versi贸n de npm
              run: npm -v
            
              
              
